<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>宠物领养管理员界面</title>
    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/admin.css">
</head>

<body>
    <div id="root">
        <div class="login" v-show="notLogined">
            <div class="logintab">
                <h2>管理员登录</h2>
                <h3>账号</h3><el-input class="un" v-model="username" placeholder="请输入账号"></el-input>
                <h3>密码</h3><el-input class="pw" placeholder="请输入密码" v-model="password" show-password></el-input>
                <el-button class="log" type="success" @click="login()">登 录</el-button>
            </div>
        </div>
        <el-tabs class="main" tab-position="left" style="height: 200px;">
            <el-tab-pane label="展示宠物管理">
                <el-table class="atable" :data="ZStableData" border style="width: 100%">
                    <el-table-column fixed prop="id" label="编号" width="50">
                    </el-table-column>
                    <el-table-column prop="name" label="名称" width="120">
                    </el-table-column>
                    <el-table-column prop="jieshao" label="介绍" width="120">
                    </el-table-column>
                    <el-table-column prop="touxiang" label="头像" width="420">
                    </el-table-column>
                    <el-table-column prop="statu" label="状态" width="50">
                    </el-table-column>
                    <el-table-column label="操作" width="100">
                        <template slot-scope="scope">
                            <el-button @click="ZSdelete(scope.row.id)" type="text" size="small">删除</el-button>
                            <el-button @click="ZSupdate(scope.row)" type="text" size="small">编辑</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-dialog title="修改信息" :visible.sync="ZSdialogFormVisible">
                    <el-form :model="ZSupdateForm">
                        <h5>编号：{{ZSupdateForm.id}}</h5>
                        <el-form-item label="名称：" label-width="120px">
                            <el-input v-model="ZSupdateForm.name" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="介绍：" label-width="120px">
                            <el-input v-model="ZSupdateForm.jieshao" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="头像：" label-width="120px">
                            <el-input v-model="ZSupdateForm.touxiang" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="ZSupdateQ()">取 消</el-button>
                        <el-button type="primary" @click="ZSupdateY()">确 定</el-button>
                    </div>
                </el-dialog>
            </el-tab-pane>
            <el-tab-pane label="领养申请管理">
                <el-table class="atable" :data="LYtableData" border style="width: 100%">
                    <el-table-column fixed prop="id" label="编号" width="50">
                    </el-table-column>
                    <el-table-column prop="aid" label="领养编号" width="50">
                    </el-table-column>
                    <el-table-column prop="name" label="申请人姓名" width="80">
                    </el-table-column>
                    <el-table-column prop="phone" label="申请人电话" width="100">
                    </el-table-column>
                    <el-table-column prop="home" label="申请人住址" width="120">
                    </el-table-column>
                    <el-table-column prop="tiaojian" label="申请条件" width="250">
                    </el-table-column>
                    <el-table-column prop="other" label="备注" width="250">
                    </el-table-column>
                    <el-table-column label="操作" width="100">
                        <template slot-scope="scope">
                            <el-button @click="LYnoPass(scope.row.id)" type="text" size="small">驳回</el-button>
                            <el-button @click="LYPass(scope.row.id)" type="text" size="small">受理</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="上传申请管理">
                <el-table class="atable" :data="SQtableData" border style="width: 100%">
                    <el-table-column fixed prop="id" label="编号" width="50">
                    </el-table-column>
                    <el-table-column prop="name" label="名称" width="80">
                    </el-table-column>
                    <el-table-column prop="jieshao" label="介绍" width="120">
                    </el-table-column>
                    <el-table-column prop="touxiang" label="头像" width="520">
                    </el-table-column>
                    <el-table-column prop="statu" label="状态" width="50">
                    </el-table-column>
                    <el-table-column label="操作" width="100">
                        <template slot-scope="scope">
                            <el-button @click="SQnoPass(scope.row.id)" type="text" size="small">驳回</el-button>
                            <el-button @click="SQPass(scope.row.id)" type="text" size="small">受理</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="已驳回领养申请">
                <el-table class="atable" :data="YBtableData" border style="width: 100%">
                    <el-table-column fixed prop="id" label="编号" width="50">
                    </el-table-column>
                    <el-table-column prop="aid" label="领养编号" width="50">
                    </el-table-column>
                    <el-table-column prop="name" label="申请人姓名" width="80">
                    </el-table-column>
                    <el-table-column prop="phone" label="申请人电话" width="100">
                    </el-table-column>
                    <el-table-column prop="home" label="申请人住址" width="120">
                    </el-table-column>
                    <el-table-column prop="tiaojian" label="申请条件" width="250">
                    </el-table-column>
                    <el-table-column prop="other" label="备注" width="250">
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="已受理领养申请">
                <el-table class="atable" :data="YStableData" border style="width: 100%">
                    <el-table-column fixed prop="id" label="编号" width="50">
                    </el-table-column>
                    <el-table-column prop="aid" label="领养编号" width="50">
                    </el-table-column>
                    <el-table-column prop="name" label="申请人姓名" width="80">
                    </el-table-column>
                    <el-table-column prop="phone" label="申请人电话" width="100">
                    </el-table-column>
                    <el-table-column prop="home" label="申请人住址" width="120">
                    </el-table-column>
                    <el-table-column prop="tiaojian" label="申请条件" width="250">
                    </el-table-column>
                    <el-table-column prop="other" label="备注" width="250">
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>
    </div>
    <script src="../js/vue.js"></script>
    <script src="../js/elementui.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/admin.js"></script>
</body>

</html>