<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>宠物领养起始页</title>
    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div id="root">
        <el-tabs type="border-card">
            <el-tab-pane label="主页">
                <el-carousel indicator-position="outside" class="runner">
                    <el-carousel-item v-for="(item,i) in swiper" :key="i">
                        <img class="images" :src="item.images"></img>
                    </el-carousel-item>
                </el-carousel>
                <div class="showtable">
                    <div class="one" v-for="(item,i) in pets" :key="i">
                        <img :src="item.touxiang"></img>
                        <h3>{{item.name}}</h3>
                        <h4>{{item.jieshao}}</h4>
                        <h5>领养编号：{{item.id}}</h5>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="我要领养">配置管理2</el-tab-pane>
            <el-tab-pane label="我要发布">配置管理2</el-tab-pane>
            <el-tab-pane label="关于">角色管理3</el-tab-pane>
        </el-tabs>
    </div>
    <script src="../js/vue.js"></script>
    <script src="../js/elementui.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>