<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>宠物领养起始页</title>
    <link rel="stylesheet" href="../css/elementui.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div id="root">
        <el-tabs type="border-card">
            <el-tab-pane label="主页">
                <el-carousel indicator-position="outside" class="runner">
                    <el-carousel-item v-for="(item,i) in swiper" :key="i">
                        <img class="images" :src="item.images"></img>
                    </el-carousel-item>
                </el-carousel>
                <div class="showtable">
                    <div class="one" v-for="(item,i) in pets" :key="i">
                        <img :src="item.touxiang"></img>
                        <h3>{{item.name}}</h3>
                        <h4>{{item.jieshao}}</h4>
                        <h5>领养编号：{{item.id}}</h5>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="我要领养">
                <div class="LYruleForm">
                    <el-form :model="LYruleForm" :rules="LYrules" ref="LYruleForm" label-width="25%" class="ruleForm">
                        <el-form-item label="申请领养宠物领养编号" prop="aid" style="width: 50%;">
                            <el-input v-model="LYruleForm.aid"></el-input>
                        </el-form-item>
                        <el-form-item label="姓名" prop="name" style="width: 50%;">
                            <el-input v-model="LYruleForm.name"></el-input>
                        </el-form-item>
                        <el-form-item label="电话" prop="phone" style="width: 50%;">
                            <el-input v-model="LYruleForm.phone"></el-input>
                        </el-form-item>
                        <el-form-item label="家庭住址" prop="home" style="width: 50%;">
                            <el-input v-model="LYruleForm.home"></el-input>
                        </el-form-item>
                        <el-form-item label="条件说明" prop="tiaojian" style="width: 50%;">
                            <el-input v-model="LYruleForm.tiaojian"></el-input>
                        </el-form-item>
                        <el-form-item label="其他备注" prop="other" style="width: 50%;">
                            <el-input type="textarea" v-model="LYruleForm.other"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitLYForm('LYruleForm')">申请领养</el-button>
                            <el-button @click="resetLYForm()">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </el-tab-pane>
            <el-tab-pane label="我要发布">
                <el-form :model="FBruleForm" :rules="FBrules" ref="FBruleForm" label-width="25%" class="ruleForm">
                    <el-form-item label="要发布的宠物名称" prop="name" style="width: 50%;">
                        <el-input v-model="FBruleForm.name"></el-input>
                    </el-form-item>
                    <el-form-item label="要发布的宠物介绍" prop="jieshao" style="width: 50%;">
                        <el-input v-model="FBruleForm.jieshao"></el-input>
                    </el-form-item>
                    <el-form-item label="要发布的宠物图片" prop="touxiang" style="width: 50%;">
                        <el-upload class="avatar-uploader" action="./upload1/" enctype="multipart/form-data" :show-file-list="false"
                            :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload">
                            <img v-if="FBruleForm.touxiang" :src="FBruleForm.touxiang" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitFBForm('FBruleForm')">提交</el-button>
                        <el-button @click="resetFBForm()">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="关于">
                <h3>管理员界面：</h3><a href="http://localhost:8080/pages/admin.html" target="_blank">http://localhost:8080/pages/admin.html</a>
            </el-tab-pane>
        </el-tabs>
    </div>
    <script src="../js/vue.js"></script>
    <script src="../js/elementui.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>